/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

$container: 1140px;

@mixin break($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #c0c0aa;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    .container{
        max-width: $container;
        width: 100%;
        margin: 0 auto;

        @include break($container + 40px){
            padding: 0 40px;
        }

        @include break(540px){
            padding: 0 20px;
        }
    }
}